on init
    start servicemanager
    setprop servicemanager.ready true
    setprop hwservicemanager.ready true

service servicemanager /system/bin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0
    onrestart setprop servicemanager.ready true

